body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blanchedalmond;
}

.red {
    color: orangered;
}

header {
    background-color: coral;
    width: 500px;
}

#orangepic {
    width: 350px;
    border: thin solid black;
    float: right;
}

#orangepic img {
    width: 350px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav a {
    display: block;
    width: 100px;
    background-color: yellow;
    border-bottom: thin solid white;
    padding: 10px 20px;
    text-align: center;
    float: left;
    margin-left: 20px;
}

nav a:hover {
    background-color: white;
    border-bottom: thin solid orange;
}

.end {
    clear: both;
}