body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: rgba(253, 187, 121, 0.4);
}

footer {
    background-color: green;
    color: rgba(255, 255, 0, .7);
    padding: 5px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.title {
    font-size: 25pt;
}

.signup {
    background-color: red;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.form-row, .check-row{
    display: flex;
    margin-top: 5px;
    gap: 15px;
}

.form-row label {
    width: 150px;
    text-align: right;
}

.spacer {
    width: 130px;
}

.spacers {
    width: 150px;
}

.check-row {
    display: flex;
    justify-content: left;
    margin-top: 5px;
    gap: 10px;
}

.check-row label {
    font-size: 1em;
    color: black;
    text-align: left;
    margin: 0px;
}

.check-row input[type="checkbox"] {
    margin: 0px;
    width: 25px;
}

label .agree {
    display: flex;
    gap: 5px;
    font-size: 1em;
}

.belowvid {
    width: 50%;
}

.belowvid p {
    padding: 20px;
}

.hometop, .homebottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px;
}

.homemiddle {
    margin: 15px;
}

.feijoada {
    order: -1;
}

li {
    padding-top: 5px;
}

figcaption {
    text-align: center;
    padding-top: 5px;
}

legend {
    border: none;
    border-radius: 5px;
    padding: 3px;
    color: yellow;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    font-size: 25px;
}

#message {
    text-align: center;
    padding: 5px;
}

fieldset {
    border: none;
    margin-top: 10px;
}

input:not([type="submit"]) {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 10px;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    margin-top: 7px;
}

input[type="submit"] {
    width: 100%;
    font-size: 1em;
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

figure img {
    width: 350px;
    padding-top: 20px;
}

.tacaca img {
    width: 500px;
    margin-top: 25px;
}

.under {
    text-decoration: underline;
}

main p {
    font-size: large;
}

nav a{
    display: block;
    text-decoration: none;
    color: yellow;
    width: 100%;
    text-align: center;
}

nav a:hover {
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    background-color: green;
}

header {
    background-color: red;
    padding: 5px;
}

header h2 {
    margin-top: 0px;
    color: yellow;
    font-size: 150%;
    padding-left: 10px;
}

header h1 {
    margin-bottom: 0px;
    color: black;
    font-size: 300%;
    margin-top: 5px;
    padding-left: 10px;
}

.left {
    text-align: right;
}

table {
    border: thin solid black;
    border-collapse: collapse;
    width: 500px;
    margin: 20px;
}

td, th {
    border: thin solid black;
    border-collapse: collapse;
    padding: 5px;
}

.asado img, .bandeja img {
    width: 500px;
    margin-top: 30px;
}

.sancocho img {
    width: 500px;
    margin-bottom: 10px;
}

.sancocho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.argmid {
    padding-left: 20px;
    padding-right: 20px;
}

.argbot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.indexbot {
    padding-left: 20px;
    padding-right: 20px;
}

iframe {
    padding: 20px;
    border: none;
}

.chimichurri caption{
    border: thin solid black;
    border-collapse: collapse;
    background-color: white;
    padding: 5px;
}

th {
    background-color: white;
}

.chimichurri tbody tr:nth-child(even) {
    background-color: white;
}

.argtop {
    display: flex;
    flex-direction: row;
    margin-bottom: -20px;
}

.argintro {
    flex-direction: column;
    padding: 20px;
}

.argintro h2 {
    font-size: 25px;
}

.asado {
    order: 2;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 244, 226);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        width: 100%;
        order: 2;
    }
    
    main {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    .aside {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    header {
        text-align: center;
    }

    main {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    body p {
        margin: 10px;
    }

    footer {
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        width: 100%;
        margin-bottom: 07px;
        font-size: 20px;
        border-bottom: thin solid yellow;
        padding-bottom: 5px;
    }

    .under {
        text-decoration: none;
        color: white;
    }

    input:not([type="submit"]) {
        width: 97%;
    }
    
    input[type="submit"] {
        width: 100%;
    }

    .hometop, .homebottom, .homemiddle, .arg, .argtop, .argbot, .belowvid{
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .hometop p, .homebottom p, .homemiddle p {
        padding: 20px;
    }

    figure {
        margin: 10px;
        padding: 0px;
    }

    figure img {
        width: 100%;
    }

    .tacaca img {
        width: 100%;
        margin-top: 0px;
    }

    .argmid {
        margin: 0px;
    }

    iframe {
        width: 92%;
    }
    
    .aside {
        flex-direction: row;
        order: 2;
        width: 100%;
        padding: 0px;
    }

    .check-row, .form-row {
        display: flex;
        flex-direction: column;
    }

    .check-row label, .form-row label {
        text-align: left;
    }

    input[type="submit"] {
        width: 100%;
    }

    .spacer {
        width: 0px;
    }

    .countrieslist {
        display: none;
    }

    .signup {
        margin-top: 20px;
    }

    table {
        width: auto;
    }

    .argasado img, .argvideo, .bandeja img{
        width: 100%;
    }

    .bandeja img {
        margin-top: 0px;
    }

    .bandeja figcaption {
        margin-bottom: 10px;
    }

    .sancocho img {
        width: 100%;
        margin-bottom: 10px;
    }

    .belowvid table {
        width: 93%;
    }

    .title {
        padding: 10px;
    }

    .country {
        padding-left: 30px;
        padding-top: 30px;
    }
}