<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Goodies</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="wrapper">
    <header>
            <h1>Global Goodies</h1>
    </header>
        <nav>
            <ul>
                <li><a href="#" class="white">Philippines</a></li>
                <li><a href="#" class="white">Japan</a></li>
                <li><a href="#" class="white">India</a></li>
                <li><a href="#" class="white">Tonga</a></li>
                <li><a href="#" class="white">Australia</a></li>
            </ul>
        </nav>
            <div class="end"></div>
        <main>   
            <figure class="pic">    
                <img src="snacks.jpg" alt="Popular filipino snacks including chips, crackers, and nuts.">
                <figcaption>Popular snacks from the Philippines</figcaption>
            </figure>
            <h2>Who are we?</h2>
            <p>Here at Global Goodies&trade; we strive to bring a little taste of your country and culture to you. We know how hard it can be living in a foreign place where it is difficult to find a taste of comfort. We are passionate about exploring different culinary traditions that are unique to each country. We have an extensive selection of chips, cookies, sweets, and more. We source our products directly from their home nations and guarantee their freshness.</p>
            <p>In order to transport your taste buds to your home country, look for your country listed above to find all of your favorite snacks. If you can't find a snack you love, send us a message so that we can provide you with exactly what you want. Take the advantage and expand your tastebuds by trying snacks from other countries as well. We can assure you that you'll be rushing back for more.</p>
            <p class="cap"><strong>Click the links above to check out their snacks!</strong></p>
            <div class="clear"></div>
        </main>
        <footer>
            &copy;2024 Samuel Holdstock
        </footer>
    </div>
</body>
</html>