body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.schedule {
    border: thin solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 5px auto;
    caption-side: bottom;
}

.schedule td,.schedule th {
    border: thin solid black;
    padding: 5px;
}

.schedule thead,.schedule tfoot {
    background-color: rgb(255, 155, 34);
}

.schedule tbody tr:nth-child(odd) {
    background-color: antiquewhite;
}

.other{
    background-color: rgb(241, 170, 83);
}

caption {
    
}