body {
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

.lake {
    width: 250px;
    border: thin solid black;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, .5);
    margin: 20px 0;
}

.lake img{
    width: 100%;
}

.text {
    margin-left: 5px;
}

.card {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: darkkhaki;
    padding: 10px 10px;
}

nav a{
    display: block;
    color: white;
    text-decoration: none;
}

nav {
    display: none;
}

nav a:hover {
    text-decoration: underline;
}